.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  &__description {
    text-align: justify;

    @include desktop {
      text-align: center;
    }
  }
}
